@import "../../theme.scss";

.title {
    text-align: left;
    color: $green;
}

.total {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 15px;

    &__description {
        font-size: 18px;
        color: $text-disabled;
        margin-bottom: 15px;
    }

    &__amount {
        font-size: 24px;
        color: $black;
        margin-bottom: 15px;
        font-weight: 700;
    }
}

.order-button {
    width: max-content;
    padding: 0 100px;
    margin-top: 30px;
    border: none;
    outline: none;
    height: 54px;
    line-height: 50px;
    color: $white;
    background: #55B74C;
    border-radius: 7px;
    font-size: 20px;
    cursor: pointer;
    display: block;
    margin: auto;
}